<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TFive_Windows_Information.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <TFive_Windows_Information.Properties.Settings>
            <setting name="alway_top" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="crood_mode" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="magni" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="show_color" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="show_log" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
        </TFive_Windows_Information.Properties.Settings>
    </userSettings>
</configuration>